# API Configuration
VITE_API_URL=http://localhost:8001/v1/

# Client Identification
VITE_X_CLIENT_ID=LOCAL_BASELINE

# OAuth2 Configuration
VITE_OAUTH_URL=http://localhost:5174/oauth/authorize
VITE_CLIENT_ID=work_space_platform
VITE_CLIENT_SECRET=your_client_secret_here
VITE_REDIRECT_URL=http://localhost:5173/auth/callback
